TAVILY_API_KEY=

OPENAI_API_KEY=

CLIENT_URL = 

SERVER_URL = 
# Connect to postgress  via connection pooling
DATABASE_URL=

# Direct connection to the database. Used for migrations - same as DATABASE_URL by default 
DIRECT_URL=

GMAIL_USER =

GMAIL_APP_PASSWORD =
 
ACCESS_TOKEN_SECRET=

REDIS_URL=

QDRANT_URL=